<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" parallel="tests" thread-count="2">
    <test name="Test1" >
        <groups>
            <run>
                <exclude name="RT"/>
            </run>
        </groups>
        <classes>
            <class name="SampleTestNG" />
            <class name="TestNGEx2" />
        </classes>
    </test>
</suite>
